---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於娜塔莎新聞網"
	description="關於娜塔莎新聞網的介紹"
	pubDate={new Date('2026-05-09')}
	heroImage={AboutHeroImage}
>
	<p>
		娜塔莎新聞網是一個以年輕世代視角出發的新聞平台，關注校園大小事、社會時事、網路話題與人物觀察。
	</p>
	<p>
		我們相信，好的新聞不只是「更快」，更要「看得懂、看得深、看得到人」。在資訊爆炸的時代，我們希望透過文字，帶你理解事件背後的故事與影響，讓新聞不只是冰冷資訊，而是與生活息息相關的內容。
	</p>
	<p>
		娜塔莎新聞網，陪你一起關注正在發生的世界。
	</p>
</Layout>
